<a href="https://colab.research.google.com/github/bsaha205/Fall_22_PML/blob/main/PML_HW_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1

In [1]:
# Tensorflow / Keras
from tensorflow import keras 
from keras.models import Sequential
from keras import Input 
from keras.layers import Dense, SimpleRNN

# Data manipulation
import pandas as pd 
import numpy as np 
import math 

# Sklearn
import sklearn 
from sklearn.model_selection import train_test_split 
from sklearn.metrics import mean_squared_error 
from sklearn.preprocessing import MinMaxScaler

In [4]:
# Read in the weather data csv
df=pd.read_csv('weatherAUS.csv', encoding='utf-8')

# Drop records where target MinTemp=NaN or MaxTemp=NaN
df=df[pd.isnull(df['Humidity9am'])==False]
df=df[pd.isnull(df['Humidity3pm'])==False]

# Median daily temperature (mid point between Daily Max and Daily Min)
df['MedHum']=df[['Humidity9am', 'Humidity3pm']].median(axis=1)

# Show a snaphsot of data
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,MedHum
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No,18.15
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No,16.25
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No,19.30
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No,18.60
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No,24.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118831,2012-05-17,PerthAirport,6.8,21.4,0.0,2.0,5.1,ENE,22.0,NE,...,45.0,1020.4,1017.8,6.0,7.0,13.8,20.6,No,No,14.10
118832,2012-05-18,PerthAirport,8.6,23.6,0.0,2.0,9.4,ENE,28.0,NE,...,37.0,1023.9,1022.3,1.0,3.0,16.3,22.0,No,No,16.10
118833,2012-05-19,PerthAirport,8.0,24.9,0.0,2.2,9.4,ENE,37.0,NE,...,29.0,1025.6,1021.8,0.0,1.0,15.1,24.2,No,No,16.45
118834,2012-05-20,PerthAirport,10.2,26.6,0.0,3.2,9.3,S,33.0,ENE,...,28.0,1023.4,1020.4,2.0,4.0,16.3,26.3,No,No,18.40
118835,2012-05-21,PerthAirport,8.4,25.8,0.0,3.2,9.3,S,37.0,NW,...,28.0,1024.8,10.0,NaN,NaN,NaN,NaN,NaN,NaN,17.10